.section-Sel {
	height: 290px;
	background: #065da2;
	background-image: url(../../images/Bg2.svg);
	background-size: 150%;
	background-position: center;
	position: relative;
	padding-top: 25px;
}

.ban-2 {
	height: 50px;
	width: 1305px;
	display: flex;
	justify-content: space-between;
	background: #caddea;
	position: relative;
	left: -25px;
	align-items: center;
	padding: 0 20px;
	margin-bottom: 20px;
	background-image: url(../../images/Arrow.svg);
	background-repeat: no-repeat;
	background-position: 910px;
}

.ban-2::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 15px solid #caddea;
	border-right: 20px solid transparent;
	position: absolute;
	top: 49px;
	left: 0;
}

.ban-2 h2 {
	font-size: 28px;
	text-transform: uppercase;
	color: #1b7fd0;
	font-weight: 700;

	margin: 0;
}

.cont {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

.cont h1 {
	font-size: 49px;

	letter-spacing: -5px;
	text-transform: uppercase;
	color: #dd0000;
	font-weight: 700;
	margin: 0;
}

.cont h2 {
	font-size: 35px;
	line-height: 20px;
	text-transform: uppercase;
	color: #dd0000;
	font-weight: 400;
	margin: 0 10px;
}

.cont h3 {
	font-size: 22px;
	line-height: 20px;
	text-transform: uppercase;
	color: #075da2;
	font-weight: 400;
	margin: 0;
}

.cont-Sel {
	display: grid;
	justify-content: space-between;
	height: 200px;
	width: 100%;
}

.sel-1,
.sel-2,
.sel-3,
.sel-4 {
	width: 310px;
	height: 65px;
	display: inline;
}
.sel-1,
.sel-2,
.sel-3,
.sel-4,
h3 {
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Roboto';
	text-align: left;
}
select {
	width: 310px;
	height: 35px;
}

.price {
	width: 310px;
	align-items: baseline;
	align-content: flex-end;
	flex-wrap: wrap;
	display: flex;
}

.price h3 {
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Roboto';
	text-align: left;
	margin: 0;
}
.price h1 {
	font-size: 48px;
	line-height: 45px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Roboto';
	margin: 0 15px 0 25px;
}

.price h2 {
	font-size: 30px;
	line-height: 45px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Roboto';
	margin: 0;
	vertical-align: bottom;
}

.sel-1 {
	grid-column: 1/2;
}
.sel-2 {
	grid-column: 2/3;
}
.sel-3 {
	grid-column: 3/4;
}

.buttonRed {
}

.buttonRed a {
	width: 310px;
	height: 35px;
	background: red;
	display: block;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	line-height: 35px;
	font-family: 'Roboto';
	position: relative;
	top: 40px;
	filter: drop-shadow(2px 3.464px 3.5px red);
}

.buttonRed a::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 20px solid red;
	border-right: 25px solid transparent;
	position: absolute;
	top: 35px;
	left: 0;
}

.section-2 {
	height: 870px;
	background: #f3f5f9;
	background-image: url(../../images/Bg2.svg);
	background-repeat: repeat-x;
	padding-top: 40px;
}

.ban-3 {
	height: 50px;
	width: 1345px;
	background: #caddea;
	text-align: center;
	line-height: 50px;
	margin-left: -15px;
	position: relative;
	filter: drop-shadow(2px 3.464px 3.5px #95aeb6);
}
.ban-3::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 15px solid #caddea;
	border-right: 20px solid transparent;
	position: absolute;
	top: 50px;
	left: 0;
}
.ban-3 h2 {
	margin: 0;
}

.ps1 {
	font-size: 18px;
	color: #000000;
	font-family: 'Arial Narrow';
	text-align: left;
	margin: 40px 0 50px;
}

.cont-2 {
	display: flex;
	justify-content: space-between;
}

.box2-1 {
	width: 280px;
	height: 520px;
	background: #f3f5f9;
	position: relative;
	padding: 20px;
	display: block;
	transition: all 0.2s linear;

}

.box2-1::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 25px solid #f3f5f9;
	border-right: 35px solid transparent;
	position: absolute;
	bottom: -24px;
	left: 0;
}

.box2-1:hover {
	background-color: white;
	filter: drop-shadow(2px 3.464px 3.5px rgb(187, 187, 187));
}

.bgIMG {
	height: 110px;
	width: 110px;
	background-image: url(../../images/Element1.svg);
	margin: 0 auto;
}

.box2-1:hover > .bgIMG {
	background-image: url(../../images/Element1_dark.svg);
}

.h4s2 {
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #1b7fd0;
	font-weight: 500;
	font-family: 'Roboto';
	text-align: center;
}

.ps2 {
	font-size: 16px;
	color: #000000;
	font-family: 'Arial Narrow';
	text-align: start;
	word-break: break-all;
	margin-bottom: 0;
}

.btnC {
	width: 125px;
	height: 35px;
	display: block;
	background: #075da1;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Roboto';
	text-align: center;
	text-decoration: none;
	line-height: 35px;
	margin: 0 auto;
	position: absolute;
	bottom: 30px;
	left: 30%;
}

.box2-2 {
	width: 280px;
	height: 520px;
	background: #f3f5f9;
	position: relative;
	padding: 20px;
	display: block;
	transition: all 0.2s linear;
}

.box2-2::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 25px solid #f3f5f9;
	border-right: 35px solid transparent;
	position: absolute;
	bottom: -24px;
	left: 0;
}

.box2-2:hover {
	background-color: white;
	filter: drop-shadow(2px 3.464px 3.5px rgb(187, 187, 187));
}

.bgIMG-2 {
	height: 110px;
	width: 110px;
	background-image: url(../../images/Element2.svg);
	margin: 0 auto;
}

.box2-2:hover > .bgIMG-2 {
	background-image: url(../../images/Element2_dark.svg);
}
.box2-3 {
	width: 280px;
	height: 520px;
	background: #f3f5f9;
	position: relative;
	padding: 20px;
	display: block;
	transition: all 0.2s linear;
}

.box2-3::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 25px solid #f3f5f9;
	border-right: 35px solid transparent;
	position: absolute;
	bottom: -24px;
	left: 0;
}

.box2-3:hover {
	background-color: white;
	filter: drop-shadow(2px 3.464px 3.5px rgb(187, 187, 187));
}

.bgIMG-3 {
	height: 110px;
	width: 110px;
	background-image: url(../../images/Element3.svg);
	margin: 0 auto;
}

.box2-3:hover > .bgIMG-3 {
	background-image: url(../../images/Element3_dark.svg);
}

ul li::marker {
	font-size: 25px;
}

.mrk {
	margin: 0;
}

.mrk p {
	margin: 0;
	font-size: 16px;
	color: #000000;
	font-family: 'Arial Narrow';
	text-align: start;
	word-break: break-all;
}
.box2-4 {
	width: 280px;
	height: 520px;
	background: #f3f5f9;
	position: relative;
	padding: 20px;
	display: block;
	transition: all 0.2s linear;
}

.box2-4::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 25px solid #f3f5f9;
	border-right: 35px solid transparent;
	position: absolute;
	bottom: -24px;
	left: 0;
}

.box2-4:hover {
	background-color: white;
	filter: drop-shadow(2px 3.464px 3.5px rgb(187, 187, 187));
}

.bgIMG-4 {
	height: 110px;
	width: 110px;
	background-image: url(../../images/Element4.svg);
	margin: 0 auto;
}

.box2-4:hover > .bgIMG-4 {
	background-image: url(../../images/Element4_dark.svg);
}

ul li::marker {
	font-size: 25px;
}

.mrk p {
	margin: 0;
}

.maarg {
	margin: 30px 0 40px;
}

.section-3 {
	height: 560px;
	background: #1b7fd0;
	background-image: url(../../images/Bg2.svg);
	background-repeat: repeat-x;
	background-size: 150%;
	background-position: 30px;
	padding-top: 40px;
}

.ban-4 {
	height: 50px;
	width: 1345px;
	background: #caddea;
	text-align: center;
	line-height: 50px;
	margin-left: -15px;
	position: relative;
	filter: drop-shadow(2px 3.464px 3.5px #95aeb6);
}
.ban-4::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 15px solid #caddea;
	border-right: 20px solid transparent;
	position: absolute;
	top: 50px;
	left: 0;
}
.ban-4 h2 {
	margin: 0;
}

.pdsah {
	font-size: 24px;
	color: #e9f7fe;
	font-family: 'Arial Narrow';
	text-align: center;
	margin: 25px 0 50px;
}

.boxContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.boxCont {
	width: 255px;
	margin: 0 15px;
}

.colo {
	background: white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	text-align: center;
}

.colo h1 {
	font-size: 25px;
	color: #1b7fd0;
	font-weight: 700;
	font-family: 'Roboto';
	line-height: 30px;
	margin: 0;
}

.boxCont p {
	font-size: 22px;
	color: #ffffff;
	font-family: 'Arial Narrow';
	margin: 22px 0 18px;
}

.lineB {
	border-bottom: 2px solid white;
	margin-bottom: 35px;
}

.section-4 {
	height: 715px;
	background: #f3f5f9;
	padding-top: 50px;
}

.ban-5 {
	height: 50px;
	width: 1345px;
	background: #caddea;
	text-align: center;
	line-height: 50px;
	margin-left: -15px;
	margin-bottom: 37px;
	position: relative;
	filter: drop-shadow(2px 3.464px 3.5px #95aeb6);
}
.ban-5::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 15px solid #caddea;
	border-right: 20px solid transparent;
	position: absolute;
	top: 50px;
	left: 0;
}
.ban-5 h2 {
	margin: 0;
}

.drop-Box {
	position: relative;
}

.drop-str,
.drop-str2,
.drop-str3,
.drop-str4,
.drop-str5,
.drop-str6 {
	height: 70px;
	width: 665px;
	display: flex;
	align-items: center;
	cursor: pointer;
	border-bottom: 2px solid #caddea;
	margin-left: 15px;
}

.drop-str::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 35.5px solid transparent;
	border-left: 45px solid #075da2;
	border-bottom: 35px solid transparent;
	position: absolute;
	top: 0;
	left: 695px;
	display: none;
}
.drop-str2::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 35.5px solid transparent;
	border-left: 45px solid #075da2;
	border-bottom: 35.5px solid transparent;
	position: absolute;
	top: 71.5px;
	left: 695px;
	display: none;
}
.drop-str3::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 35.5px solid transparent;
	border-left: 45px solid #075da2;
	border-bottom: 35px solid transparent;
	position: absolute;
	top: 143.5px;
	left: 695px;
	display: none;
}
.drop-str4::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 35.5px solid transparent;
	border-left: 45px solid #075da2;
	border-bottom: 35.5px solid transparent;
	position: absolute;
	top: 215px;
	left: 695px;
	display: none;
}
.drop-str5::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 35.5px solid transparent;
	border-left: 45px solid #075da2;
	border-bottom: 35px solid transparent;
	position: absolute;
	top: 287px;
	left: 695px;
	display: none;
}
.drop-str6::after {
	content: '';
	width: 0;
	height: 0;
	border-top: 35.5px solid transparent;
	border-left: 45px solid #075da2;
	border-bottom: 35.5px solid transparent;
	position: absolute;
	top: 358px;
	left: 695px;
	display: none;
}

.drop-str:hover::after,
.drop-str2:hover::after,
.drop-str3:hover::after,
.drop-str4:hover::after,
.drop-str5:hover::after,
.drop-str6:hover::after {
	display: block;
}

.drop-str:hover,
.drop-str2:hover,
.drop-str3:hover,
.drop-str4:hover,
.drop-str5:hover,
.drop-str6:hover {
	width: 680px;
	background: #075da2;
}

.drop-str:hover h4,
.drop-str2:hover h4,
.drop-str3:hover h4,
.drop-str4:hover h4,
.drop-str5:hover h4,
.drop-str6:hover h4 {
	color: white;
	font-size: 22px;
}

.drop-str h1,
.drop-str2 h1,
.drop-str3 h1,
.drop-str4 h1,
.drop-str5 h1,
.drop-str6 h1 {
	font-size: 59px;
	text-transform: uppercase;
	color: #caddea;
	font-weight: 700;
	font-family: 'Rajdhani';
	text-align: center;
	margin: 0 25px 0 30px;
}

.drop-str h4,
.drop-str2 h4,
.drop-str3 h4,
.drop-str4 h4,
.drop-str5 h4,
.drop-str6 h4 {
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
	color: #1b7fd0;
	font-weight: 500;
	font-family: 'Roboto';
}

.drop-none {
	width: 460px;
	height: 370px;
	background: white;
	position: absolute;
	right: 50px;
	top: 0px;
	display: none;
	padding: 45px;
	filter: drop-shadow(2px 3.464px 3.5px rgb(187, 187, 187));
}

.drop-str:hover .drop-none,
.drop-str2:hover .drop-none,
.drop-str3:hover .drop-none,
.drop-str4:hover .drop-none,
.drop-str5:hover .drop-none,
.drop-str6:hover .drop-none {
	display: block;
}

.img-D {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	background-image: url(../../images/Works1.svg);
}
.img-D2 {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	background-image: url(../../images/Works2.svg);
}
.img-D3 {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	background-image: url(../../images/Works3.svg);
}
.img-D4 {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	background-image: url(../../images/Works4.svg);
}
.img-D5 {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	background-image: url(../../images/Works5.svg);
}
.img-D6 {
	width: 120px;
	height: 120px;
	margin: 0 auto;
	margin-top: 30px;
	background-image: url(../../images/Works6.svg);
}

.drop-none p {
	font-size: 18px;
	color: #000000;
	font-family: 'Arial Narrow';
	text-align: left;
	margin-top: 45px;
}

.button-Drop a {
	width: 310px;
	height: 48px;
	background: #dd0000;
	display: block;
	text-align: center;
	font-size: 26px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	line-height: 48px;
	font-family: 'Roboto';
	position: relative;
	top: 40px;
	filter: drop-shadow(2px 3.464px 3.5px #dd0000);
	margin: 0 auto;
	margin-top: 42px;
}

.button-Drop a::before {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 20px solid #dd0000;
	border-right: 25px solid transparent;
	position: absolute;
	top: 48px;
	left: 0;
}


